.table-admin{
    margin-left: auto; 
    margin-right: auto; 
    background: rgb(250, 196, 228);
}

.table-usuario{
    margin-left: auto; 
    margin-right: auto; 
    background: rgb(19, 129, 219);
}

td{
    padding: 5px;
}

input{
    display:block; 
    padding: 5px; 
    margin-bottom: 10px; 
    margin-left: auto;
    margin-right: auto; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.entrada{
    border-radius:5px; 
    height:23px; 
    width: 200px;}

.enviar:hover{
    background:rgb(255, 170, 221);
}

.enviar{
    border-radius:5px; 
    border:thin; 
    height:30px; 
    width: 80px; 
    background:rgb(255, 145, 211) 
}